asn1crypto==0.24.0
bcrypt==3.1.7
certifi==2019.6.16
Django==3.0.11
django-crispy-forms==1.10.0
flake8==3.8.4
mysqlclient==1.4.2.post1
pytz==2019.2
sqlparse==0.3.0
docker==4.4.1
docker-compose==1.27.4
requests==2.25.1
whitenoise==5.2.0